<app-navegacion></app-navegacion>
 <!-- Aca va la imagen de fondo --->
<div class="background-image">
    <div class="esquina">
        <img src="assets/mano-sosteniendo-mancuernas-mancuernas.png" alt="logo">
    </div>

    <div class="container mt-6">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <h1 class="card-title text-center">Editar rutina</h1>
                    <div class="row justify-content-center">
                        <div class="toggle-container">

                            <form [formGroup]="rutinaForm">
                                <div class="col-md-8 mt-3 text-left">
                                  <div class="toggle"></div>
                                  <label for="estado">Estado</label>
                                  <input type="text" id="estado" name="estado" class="form-control small-input" [(ngModel)]="rutinaForm">
                                </div>
                                <div class="col-md-8 mt-3 text-left">
                                  <div class="toggle"></div>
                                  <label for="fecha">Fecha</label>
                                  <input type="date" id="fecha" name="fecha" class="form-control small-input"  [(ngModel)]="rutinaForm">
                                </div>
                                <div class="col-md-8 mt-3 text-left">
                                  <div class="toggle"></div>
                                  <label for="descripcion">Descripción</label>
                                  <input type="text" id="descripcion" name="descripcion" class="form-control" [(ngModel)]="rutinaForm">
                                </div>
                            </form>
                              
                        </div>
                        <div class="col-md-12 mt-3 text-center">
                            <a class="nav-link" routerLink="/rutina-abm"> 
                                <button class="btn btn-danger" (click)="guardado(hashRutinas.id_planificacion)">Guardar</button> 
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>
<app-footer></app-footer>
