
.card h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: #000000;
  }

/* Ajustar estilos de los cards */
.card {
    margin-bottom: 10px;
    background-color: rgb(226, 223, 223);
    opacity: 1.0;
    border: groove;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}
/*  le doy el borde redondo a la foto */
.rounded-circle {
    border-radius: 100% !important;
  }

/* Este es el logo de la esquina*/

.esquina img {
  height:200px ;
  width: 200px;
  position: relative;
  top: 0;
  right: 0;
  height: 75%;
}

.btn-danger {
  color: #fff;
  background-color: #dd1b2f;
  border-color: #d10e21;
  width: 75%; 

}
.toggle-container label {

  position: center;
  padding-right: 0px;
  color: #000000; 

}
.toggle-container  {
  color: #0e0a0a;
  background-color: #e4d9d9;
  border-color: #050000;
  width: 90%;
   
}

.card1 {
  margin-bottom: 10px;
  background-color: rgb(207, 63, 63);
  opacity: 1.0;
  border: groove;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  width: 15%;
  }
.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.small-input {
 /* Cambia el ancho según tus necesidades */
  height: 10px;
}

/* Cambiar el color del texto de las cards */
.card-title {
    color: #666666;
}

.card-text {
    color: #bbbbbb;

}



  /* amplio el cuadro de texto que contiene a los parrafos de bienvenida */
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1520px;
  }
  /* longitud a lo ancho del texto de bienvenida */
  .col-md-8 {
    flex: 0 0 auto;
    width: 99.66666667%;
    color: rgba(186, 175, 175);
    margin-bottom: 20px;
  }
  


.form-control {

  padding: 6rem .75rem;


}