<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="view_perfil_profesor.html">Mi Perfil</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="view_home_profesor.html">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


 <!-- Aca va la imagen de fondo --->
<div class="background-image">
    <!-- Aca va el logo de la esquina --->
    <div class="esquina">
        <img src="css/mano-sosteniendo-mancuernas-mancuernas.png" alt="logo">
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center welcome-text">

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">

                <app-abm></app-abm>

                
            </div>

        </div>
    </div>
</div>
<footer class="footer py-3 bg-light fixed-bottom">
    <div class="container text-center">
        <div class="col-md-6 d-flex align-items-center">
            <span class="text-muted">© 2023 Full metal gym</span>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
