<app-navegacion></app-navegacion>


 <!-- Aca va la imagen de fondo --->
<div class="background-image">
    <div class="esquina">
        <!-- Aca va el logo de la esquina --->
        <img src="assets/mano-sosteniendo-mancuernas-mancuernas.png" alt="logo">
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center welcome-text">

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">

                <div class="card">
                  <!-- Mostrar los detalles de la clase seleccionada -->
                    <div *ngIf="selectedClase">
                      <h2>{{ selectedClase.nombre_clase }}</h2>
                      <p>{{ selectedClase.detalles }}</p>
                      <!-- Agrega más campos según tus necesidades -->
                    </div>

                    <!-- Lista de clases para seleccionar -->
                    <ul>
                      <li *ngFor="let clase of clases">
                        <a (click)="seleccionarClase(clase.id_Clase)">{{ clase.nombre_clase }}</a>
                      </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>
