.btn-danger {
    color: #fff;
    background-color: #d1172a;
    border-color: #da182b;
    width: 75%; 

}


/* Ajustar estilos de los cards */
.card {
    margin-bottom: 10px;
    background-color: rgb(228, 223, 223);
    opacity: 1.0;
    border: groove;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}
/*  le doy el borde redondo a la foto */
.rounded-circle {
    border-radius: 20% !important;
  }

/* Este es el logo de la esquina*/

.esquina img {
  height:200px ;
  width: 200px;
  position: relative;
  top: 0;
  right: 0;
  height: 100%;
}

.toggle-container  {
  color: #0e0a0a;
  background-color: #cccaca;
  border-color: #050000;
  width: 90%; 
  height: 100%;
  
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

/* Cambiar el color del texto de las cards */
.card-title {
    color: #2c2828;
}

.card-text {
    color: #bbbbbb;

}

/* Estilos para el footer */
.footer {
    text-align: center;
    background-color: #000000;
    border-top: 1px solid #000000;
    
}


/* Con esto le doy color rojo al texto de bienvenida */
.main-text {

    color: red;

}


  /* amplio el cuadro de texto que contiene a los parrafos de bienvenida */
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1520px;
  }



/* longitud a lo ancho del texto de bienvenida */
.col-md-8 {
    flex: 0 0 auto;
    width: 99.66666667%;
  }



/* tamaño del texto resaltado */
.lead {
    font-size: 2.5rem;
    font-weight: 300;
  }


.welcome-text:hover::before {
    transform: scaleX(1);
}

.welcome-text h1 {
    -webkit-text-stroke: 1px black; /* Borde negro de 2px */
    color: transparent; /* Hace que el texto sea transparente */
}