<app-navegacion></app-navegacion>

<div class="background-image">
    <div class="esquina">
        <img src="assets/mano-sosteniendo-mancuernas-mancuernas.png" alt="logo">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-2 text-center welcome-text">
                <h1>Pagos:</h1>
            </div>
        </div>
    <div class="container mt-8">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row justify-content-center">

                    <div class="input-group">
                        <input type="text" id="nombre" name="nombre" class="form-control" value="Lirio" >
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                        </div>
                    </div>

                    <div class="input-group">
                        <input type="text" id="Estado" name="estado" class="form-control" value="al dia" >
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" id="Fecha" name="Fecha" class="form-control" value="13/05/2023" >
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                        </div>
                    </div>
                </div> 
            </div>
            <button class="btn btn-success btn-sm ml-2" id="guardar-button"  routerLink="/pagos-admi" >Guardar Cambios </button>
            
        </div>
    </div>
    </div>  
</div>
<app-footer></app-footer>
