<app-navegacion></app-navegacion> 
     <!-- Aca va la imagen de fondo --->
    <div class="background-image">
        
        <div class="esquina">
            <!-- Aca va el logo de la esquina --->
            <img src="assets/mano-sosteniendo-mancuernas-mancuernas.png" alt="logo">
        </div>
        <div class="container mt-5">
            
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                        
                            <div class="d-flex justify-content-center">
                                <img src="assets/mapa.jpg" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
            
            
                <p class="lead text-black">
                    TELEFONO : 26156892
                </p>
                <p class="lead text-black">
                    DIRECCION : Av. Colon 957
                </p>
            </div>

        </div>
    </div>
<app-footer></app-footer>
