<app-navegacion></app-navegacion>
 <!-- Aca va la imagen de fondo --->
<div class="background-image">
    <!-- Aca va el logo de la esquina --->
    <div class="esquina">
        <img src="assets/mano-sosteniendo-mancuernas-mancuernas.png" alt="logo">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="title-with-image">
                    <h2>¡Profesores!</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center welcome-text">

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/robot.jpeg" class="rounded-circle" alt="Clase 1">
                    <div class="card-body">
                        <h5 class="card-title">Alphonse</h5>
                        <p class="card-text">El profesor de sala de musculacion es un experto motivador y guia en el gimnasio. Instruyendo con presicion en ejercicios de fuerza, forma y planificacion personalizada para lograr objetivos fisicos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/edward_elric.jpeg" class="rounded-circle" alt="Clase 2">
                    <div class="card-body">
                        <h5 class="card-title">Edward</h5>
                        <p class="card-text">Este instructor versatil imparte energia y bienestar en el gimnasio liderando clases de zunba, yoga y ciclismo indoor. Combina ritmo, serenidad y resistencia para empoderar a sus alumnos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/roy-mustang.png" class="rounded-circle" alt="Clase 3">
                    <div class="card-body">
                        <h5 class="card-title">Roy</h5>
                        <p class="card-text">El instructor de crossfit y funcional es un apasionado experto en entrenamiento versatil y desafiante. Guia con presicion y fomenta la resistencia, fuerza y agilidad en cada clase</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
