<app-navegacion-admi></app-navegacion-admi>
<!-- Aca va el logo de la esquina --->

 <!-- Aca va la imagen de fondo --->
<div class="background-image">
    <div class="esquina">
        <img src="assets/mano-sosteniendo-mancuernas-mancuernas.png" alt="logo">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-2 text-center welcome-text">
                <h1>Gestionar Perfil</h1>
            </div>
        </div>
        <div class="container mt-8">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row justify-content-center">

                        <div class="input-group">
                            <input type="text" id="nombre" name="nombre" class="form-control" value="Roy" >
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                        </div>

                        <div class="input-group">
                            <input type="text" id="apellido" name="apellido" class="form-control" value="Masutangu" >
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" id="mail" name="mail" class="form-control" value="r.masutangu@gmail.com" >
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" id="documento" name="documento" class="form-control" value="5.896.482" >
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" id="telefono" name="telefono" class="form-control" value="231 654 897">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="password" id="password" name="password" class="form-control" value="Contraseña" >
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" id="edad" name="edad" class="form-control" value="30" >
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" id="sexo" name="sexo" class="form-control" value="Masculino" >
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" id="titulo" name="titulo" class="form-control" value="Licenciado en gimnasio" >
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" id="disponibilidad" name="disponibilidad" class="form-control" value="Lunes, Martes, Miercoles, Jueves y Viernes" >
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                        </div>   
                            
                        <button class="btn btn-sm btn-custom2 ml-2" (click)="confirmDelete()">Eliminar</button>
                        <button class="btn btn-sm btn-custom1 ml-2" routerLink="/buscar-profesor">Guardar</button>

                    </div> 
                </div>
                
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
