<app-navegacion-admi></app-navegacion-admi>
<!-- Aca va el logo de la esquina --->

 <!-- Aca va la imagen de fondo --->
<div class="background-image">
    <div class="esquina">
        <img src="assets/mano-sosteniendo-mancuernas-mancuernas.png" alt="logo">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-2 text-center welcome-text">
                <h1>Gestionar Perfil</h1>
            </div>
        </div>
        <app-abm></app-abm>

            <!-- Script para confirmar eliminación -->
            <script>
                // Get all delete buttons with the "delete-btn" class
                const deleteButtons = document.querySelectorAll('.delete-btn');

                // Add a click event listener to each delete button
                deleteButtons.forEach(button => {
                    button.addEventListener('click', function() {
                        // Get the confirmation message from the data-confirm attribute
                        const confirmationMessage = this.getAttribute('data-confirm');

                        // Display the confirmation dialog using window.confirm()
                        const confirmed = window.confirm(confirmationMessage);

                        // Check if the user confirmed or canceled
                        if (confirmed) {
                            // User clicked "OK," perform the delete action here
                            // You can add your delete logic here
                            alert('Rutina borrada.'); // Replace with your actual delete code
                        } else {
                            // User clicked "Cancel" or closed the dialog
                            // No action needed
                        }
                    });
                });

                // Add a click event listener for the separate "Eliminar" button
                const eliminarButton = document.getElementById('eliminar-button');
                eliminarButton.addEventListener('click', function() {
                    // Display the confirmation dialog using window.confirm()
                    const confirmed = window.confirm('¿Estás seguro de que deseas eliminar?');

                    // Check if the user confirmed or canceled
                    if (confirmed) {
                        // User clicked "OK," perform the delete action here
                        // You can add your delete logic here
                        alert('Perfil borrado.'); // Replace with your actual delete code
                    } else {
                        // User clicked "Cancel" or closed the dialog
                        // No action needed
                    }
                });
            </script>


    </div>


   
</div>
<app-footer></app-footer>
