<app-navegacion></app-navegacion>
 <!-- Aca va la imagen de fondo --->
<div class="background-image">
    <div class="esquina">
    <!-- Aca va el logo de la esquina --->
        <img src="assets/mano-sosteniendo-mancuernas-mancuernas.png" alt="logo">
    </div>
    <div class="container mt-5">
        
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Historia</h1>
                        <div class="d-flex justify-content-center">
                            <img src="assets/historia.png" class="img-fluid">
                        </div>
                        <div class="container">
                            <p class="card-text">
                                Hace ya varios años, específicamente el 3 de octubre del año 11, nació un gimnasio que se convertiría en un faro de bienestar en la comunidad. Desde su apertura, este espacio ha ofrecido una amplia variedad de clases diseñadas para satisfacer las necesidades y los intereses de sus miembros. Sin embargo, lo que verdaderamente ha catapultado a este gimnasio a la prominencia es su calidez y amigabilidad. Los profesores no solo son expertos en sus respectivas disciplinas, sino que también se han convertido en apoyos constantes para cada individuo que cruza sus puertas. La dedicación y la pasión de estos profesionales no solo se reflejan en la calidad de las clases, sino también en el ambiente inclusivo que han creado. A lo largo de los años, este gimnasio no solo ha ayudado a sus miembros a alcanzar sus objetivos físicos, sino que también ha tejido una red de relaciones valiosas y duraderas en su comunidad.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>