<div class="card">
    <div class="card-body">
        <div class="card-block1">
            <div class="row">
                <!-- Content for the first card -->
            </div>
        </div>

        <!-- Text Pane 1 -->
        <div class="card-text">
            <h3>Nombre:</h3>
            <p>Pepe</p>
        </div>

        <!-- Nested List -->
        <ul class="list-group mt-3" *ngFor="let rutina of arrayRutinas">
            <li class="list-group-item d-flex justify-content-between align-items-center custom-rutina">
                Rutina {{rutina.id_rutina}}
                <div>
                    <button class="btn btn-primary btn-sm me-2" (click)="handleButtonClick()"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn btn-danger btn-sm delete-btn" (click)="confirmDelete()"><i class="fa-solid fa-trash"></i></button>
        
                </div>
            </li>
            <!-- Content for Rutina 1 -->
            <li class="list-group-item custom-bg-color">
                <h5>{{rutina.nombre}}</h5>
                <p>{{rutina.detalles}}</p>
            </li>    
        </ul>
        <a routerLink="/nueva-rutina"> 
            <button class="btn btn-success mt-3" id="addRutinaBtn">Agregar nueva rutina</button>
        </a>
    </div>
</div>