<div class="card">
    <div class="card-body">
        <div class="card-block1">
            <div class="row">
                <!-- Content for the first card -->
            </div>
        </div>

        <!-- Text Pane 1 -->
        <div class="card-text">
            <h3>Rutinas del alumno:</h3>
        </div>

        <!-- Nested List -->
        <ul class="list-group mt-3">
            <!-- <ng-container *ngFor="let planificaciones of hashRutinas"> -->
              <li class="list-group-item d-flex justify-content-between align-items-center custom-rutina">
                Rutina {{ hashRutinas?.id_planificacion }}
                <div>
                  <button class="btn btn-primary btn-sm me-2" (click)="handleButtonClick()"><i class="fa-solid fa-pen-to-square"></i></button>
                  <button class="btn btn-danger btn-sm delete-btn" (click)="confirmDelete(hashRutinas.id_planificacion)"><i class="fa-solid fa-trash"></i></button>
                </div>
              </li>
              <!-- Content for each Rutina -->
              <li class="list-group-rutina custom-bg-color">
                <p>{{ hashRutinas?.estado }}</p>
                <p>{{ hashRutinas?.detalles }}</p>
              </li>
            <!-- </ng-container> -->
          </ul>
        <a routerLink="/nueva-rutina"> 
            <button class="btn btn-success mt-3" id="addRutinaBtn">Agregar nueva rutina</button>
        </a>
    </div>
</div>