<ul class="list-group mt-3">
    <li class="list-group-item d-flex justify-content-between align-items-center custom-rutina" *ngFor="let alumnos of arrayUsuario">
      {{ alumnos.id_Usuario }}. {{ alumnos.nombre }}, {{ alumnos.apellido }}
      <div>
        <button class="btn btn-success btn-sm me-2" (click)="editarIdClase(alumnos.id_Usuario)"><i class="fas fa-plus"></i> </button>
        
      </div>
    </li>
  </ul>
  
 
<igx-paginator #paginator
   [perPage]="1"
   [selectOptions]="[4,3,2,1]" 
   [totalRecords]="totalPages"
   (pageChange)="changepage($event+1)"
   (perPageChange)="navigateToFirstPage()">
</igx-paginator> 