/* Establecer el fondo de imagen */
.background-image {
    background-image: url('gym.jpg')  ; /* Reemplaza con la ruta de tu imagen de fondo */

    /* le doy el efecto  de transparencia blanca*/
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 0px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
  /* Agregar un espacio arriba,  izquierda y derecha*/
}

/* Ajustar estilos de los cards */
.card {
    margin-bottom: 20px;
    background-color: rgb(17, 14, 14);
    opacity: 1.0;
    border: groove;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

/*  agrando el tamaño de la tajeta*/
.row > * {

  width: 100%;

}

/* Este es el logo de la esquina*/

  .esquina img {
    height:300px ;
    width: 300px;
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
  }

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

/* Es el titulo de la clase, con tamaño, tipo de fuente, color blanco y centrado */
.card-title {
    font-family: 'Praise', sans-serif; 
    font-size: 120px; 
    text-align: center;
    color: rgb(155, 0, 0);
}

.card-text {
    color: #bbbbbb;

}

/* Estilos para el footer */
.footer {
    text-align: center;
    background-color: #000000;
    border-top: 1px solid #000000;
}


/* Con esto le doy color rojo al texto de la clase */
.main-text {

    color: rgb(0, 0, 0);

}

/*color color distinto para el nombre de las rutinas */
.custom-rutina {
  background-color: rgb(160, 161, 161); /* You can change "lightblue" to any color you prefer */
}


/*color distinto para el contenido de las rutinas */
.custom-bg-color {
  background-color: rgb(107, 107, 107); /* You can change "lightgreen" to any color you prefer */
}



.tolal-alumnos{

  color: rgb(255, 255, 255);
}