<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center welcome-text">
            <div class="main-text"> 
                <p class="lead text">Una leccion sin dolor no tiene sentido. Eso es porque no se puede ganar </p>
                <p class="lead text">algo sin sacrificar algo a cambio. Sin embargo, una vez que hayas</p>
                <p class="lead text">soportado el dolor y lo hayas superado, ganarás un corazón que es </p>
                <p class="lead text">más fuerte que todo lo demás. Así es</p>
                <p class="lead text-black">un corazón de acero</p>
            </div>
        </div>
    </div>
    
    <div class="row mt-5">
            <div class="col-md-4">
                <a routerLink="/historia"> 
                    <div class="card">
                        <img src="assets/historia.webp" class="rounded-circle" alt="Clase 1">
                        <div class="card-body">
                            <h5 class="card-title">Historia</h5>
                            <p class="card-text">Conoce sobre nuestra historia, este gym abrio sus puertas el 3 de octubre del año 11.</p>
                        </div>
                    </div>
                </a>
            </div>
        <div class="col-md-4">
            <a routerLink="/clases">
                <div class="card">
                    <img src="assets/maquinas.jpeg" class="rounded-circle" alt="Clase 2">
                    <div class="card-body">
                        <h5 class="card-title">Clases</h5>
                        <p class="card-text">Nuestro gym ofrece una gran variedad de clases para todos los gustos</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink="/profesores">
                <div class="card">
                    <img src="assets/profesoresjpg" class="rounded-circle" alt="Clase 3">
                    <div class="card-body">
                        <h5 class="card-title">Profesores</h5>
                        <p class="card-text">Conoce a nuestros profesores, los mas geniales de todo Amestris</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>