<app-navegacion></app-navegacion>
 <!-- Aca va la imagen de fondo --->
<div class="background-image">
    <!-- Aca va el logo de la esquina --->
    <div class="esquina">
        <img src="assets/mano-sosteniendo-mancuernas-mancuernas.png" alt="logo">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="title-with-image">
                    <h1>Alumnos</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center welcome-text">

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <a class="nav-link" (click)="redirectToabmalumno()">Info</a>
                   </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <a class="nav-link" routerLink="/rutina-abm">Rutina</a>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>
<app-footer></app-footer>
