<ul class="list-group mt-3">
    <li class="list-group-item d-flex justify-content-between align-items-center custom-rutina"  *ngFor="let profesor of arrayProfesores" >
        {{profesor.profesor_id}}. {{profesor.nombre}} , {{profesor.apellido}}
        <div> 
            <button class="btn btn-primary btn-sm me-2" (click)="handleButtonClick()" routerLink="/"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="btn btn-danger btn-sm delete-btn" (click)="confirmDelete()" routerLink="/buscar-profesores"><i class="fa-solid fa-trash"></i></button>
        </div>
    </li>
</ul>    