<app-navegacion></app-navegacion>


 <!-- Aca va la imagen de fondo --->
<div class="background-image">
    <div class="esquina">

    <!-- Aca va el logo de la esquina --->
        <img src="assets/mano-sosteniendo-mancuernas-mancuernas.png" alt="logo">
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center welcome-text">

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <a routerLink="/clase-puntual"> 
                    <div class="card">
                        <img src="assets/YOGA_2.jpg" class="rounded-circle" alt="Clase 1">
                        <div class="card-body">
                            <h5 class="card-title">Yoga</h5>
                            <p class="card-text">Es una disciplina que fusiona cuerpo y mente con posturas, respiración y meditación para ganar equilibrio, flexibilidad y bienestar integral.</p>
                        </div>
                    </div>
                </a>
            </div>               
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/CROTFITS.jpeg" class="rounded-circle" alt="Clase 2">
                    <div class="card-body">
                        <h5 class="card-title">Crossfit</h5>
                        <p class="card-text">Entrenamiento funcional de alta intesidad que combina ejercicios variados para mejorar la fuerza, resistencia y agilidad</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/FUNCIONAL.jpeg" class="rounded-circle" alt="Clase 3">
                    <div class="card-body">
                        <h5 class="card-title">Funcional</h5>
                        <p class="card-text">Sesion de entrenamieno que combina movimientos naturales y practicos para mejorar la fuerza y funcionalidad</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/ZUMBA.jpeg" class="rounded-circle" alt="Clase 1">
                    <div class="card-body">
                        <h5 class="card-title">Zumba</h5>
                        <p class="card-text">Baile fitness energetico que combina ritmos latinos y ejercicios aerobicos para divertirse mientras se hace ejercicio</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/MUSCULACION.jpeg" class="rounded-circle" alt="Clase 1">
                    <div class="card-body">
                        <h5 class="card-title">Pesas</h5>
                        <p class="card-text">Espacio equipado con pesas y maquinas para entrenar y fortalecer los musculos mediante ejercicios especificos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/BICICLETAS.jpeg" class="rounded-circle" alt="Clase 1">
                    <div class="card-body">
                        <h5 class="card-title">Indoor</h5>
                        <p class="card-text">Entrenamiento cardiovascular en bicicleta estatica al ritmo de la musica, guiada por instructores motivadores</p>
                    </div>
                </div>
            </div>    

        </div>
    </div>
</div>
<app-footer></app-footer>