<app-navegacion></app-navegacion>


 <!-- Aca va la imagen de fondo --->
<div class="background-image">
    <div class="esquina">

    <!-- Aca va el logo de la esquina --->
        <img src="assets/mano-sosteniendo-mancuernas-mancuernas.png" alt="logo">
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center welcome-text">

            </div>
        </div>
        <div class="row mt-5">
            <app-ver-clase></app-ver-clase>

        </div>
    </div>
</div>
<app-footer></app-footer>